<p>mat-table works!</p>
<div class="table-container">
  <table mat-table [dataSource]="dataSrc" class="mat-elevation-z8">

    <ng-container matColumnDef="entry_number">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let element"> {{element.entry_number}} </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <ng-container matColumnDef="url">
      <th mat-header-cell *matHeaderCellDef> Appearance </th>
      <td mat-cell *matCellDef="let element"> <img [src]="element.url"> </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayColumns;"></tr>
  </table>

  <mat-paginator
    #paginator1
    [pageSizeOptions]="[10,50]"
    showFirstLastButtons
    aria-label="Select page">
  </mat-paginator>

</div>
