<p>mat-table works!</p>
<!-- <div> Hello input your num plz
  <input type="text" [(ngModel)]="num">
  <button (click)="loop1(num);">submit</button>
</div>
<div>Answer here
  <div [innerHTML]="output"></div>
</div> -->
<div>
  <div>
    <table>
      <tr>
        <th>id</th>
        <th>name</th>
        <th>image</th>
      </tr>

      <!-- <tr *ngFor="let item of dataPoke; let i=index">
        <td>{{dataPoke![i]!['id']}}</td>
        <td>{{dataPoke![i]!['name']}}</td>
        <td><img src="{{dataPoke![i]!['sprites']['front_default']}}"></td>
      </tr> -->

      <tr *ngFor="let item of dataPoke2; let i=index">
        <td>{{dataPoke2[i]['_id']}}</td>
        <td>{{dataPoke2[i]['name']}}</td>
        <td><img src="{{dataPoke2[i]['url']}}"></td>
      </tr>
    </table>
  </div>
</div> 
