<head>
  <link href="https://fonts.googleapis.com/css2?family=Athiti" rel="stylesheet">
</head>

<body style="margin: -8px;" >
  <div class="page-container">
    <div class="top-section">
      <div class="image-container">
        <img class="logo" src="../../assets/logo.png">
      </div>
      <p class="title">Rainbow</p>
      <p class="date">วันที่ 13/07/2566 เวลา 9:00 AM</p>
    </div>

    <div class="middle-section">
      <div class="image-container">
        <img class="mid-photo" src="https://api.duniagames.co.id/api/content/upload/file/4873495581674207172.jpg">
      </div>
      <div class="text-container">
        <p class="text">Yumeko Jabami [夢子蛇喰] เป็นตัวเอกที่มีพรสวรรค์ในการค้นพบกลโกงในเกมแห่งโอกาส
          ในช่วงเริ่มต้นของการทำงานหญิงสาวได้พบกับซูซุยซึ่งตลอดทั้งเรื่องกลายเป็นเพื่อนที่ดีที่สุด
          ของตัวละครเธอมีความกล้าหาญอย่างมากเธอมักจะพบว่าตัวเองเดิมพันด้วยมูลค่าสูงและเธอ
          ไม่สนใจที่จะเสียเงินโดยพิจารณาจากรายละเอียดเพียงเล็กน้อยสำหรับอารมณ์ที่เธอรู้สึกเมื่อ
          ต้องเสี่ยงในเกมซึ่งสำหรับเธอนั้นสำคัญที่สุดนอกจากนี้ยูเมโกะในช่วงฤดูกาลแรกต้องเผชิญ
          หน้ากับสมาชิกสภานักเรียนซึ่งเป็นผู้ที่เก่งที่สุดในโรงเรียนเนื่องจากพวกเขาใช้วิธีการที่เข้ม
          งวดในระหว่างการเดิมพัน แน่นอนว่าเธอไม่ใช่ตัวละครที่อยู่ยงคงกระพัน</p>
      </div>
      <div class="line"></div>
    </div>

    <div class="bottom-section">
      <p class="address">address<br>
        248 Moo.2 Pongyangkok <br>
        Hangchat 52190 Lampang</p>
      <p class="address2">Chutikan Osswamanakit<br>
        Thammasat University, Lampang campus</p>
    </div>
  </div>
</body>
