div {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-items: center;
    justify-content: space-around;
  table {
    display: flex;
    flex-direction: column;
    tr {
      display: flex;
      flex-direction: row;
      gap: 10px;
      th, td {
        margin: 10px 100px 10px;
        align-self: center;
        justify-self: center;
      }
    }
  }
}
